 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    /*background-color: rgb(255, 255, 255); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color: none;
    margin-top: 75px;

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    outline: 0;
    border: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    background-color: #f8f9fa;
    text-decoration: none;
    color: black;
}

.sidenav a:visited{
    background-color: #f8f9fa;
    color: black;
}

.sidenav a:link {
    color: black;
}


/* selected link */
.sidenav a.active {
    color: #007bff;
    font-weight: 600;
    background-color: #f8f9fa;
}

.sidenav a.active:hover {
    background-color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 200px;
    margin-top: 30px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 
